.ga-accordion
{
	display: block;
}

.ga-item
{
	overflow: hidden;
	display: block;
	position: absolute;
}

.ga-brief
{
	position: absolute;
	font-size: 2em;
	border-radius: 3px;
	z-index: 9999;
}

.ga-description
{
	position: absolute;
	bottom: 0px;
	font-size: 3em;
	z-index: 9999;
}

.ga-background
{
}